.deps/
.obj/
.vscode/
*.o
*.d

pi
euler
linked-list
circular-buffer
xor-linked-list
binary-tree
doubly-linked-list
dynamic-array
linear-regression
lagrange-interpolation
polynomial-regression
integration
gaussian-elimination
gauss-seidel
jacobi-method
lu-solving
gauss-jordan
dot-product
euclidean-norm
cross-product
quicksort
select-sort
heap-sort
bubble-sort
merge-sort
compare-sorting
insert-sort
shell-sort
roots
determinant
pseudo-inverse
lu-crout-decomposition
matrix-inverse
matrix-transpose
lu-decomposition
binary-search
sequential-search
compare-search
ode
exponential
square-root
